* {
    box-sizing: border box;
    padding: 0; 
    margin: 0;
    border: none;
}


html {
    font-family: 'Montserrat';
    font-size: 20px;
    background-color: #f2f2f2;
    color: #232323
}

body {
  padding-top: 69px;
}

/* HEADER */

header {
    height: 98px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    z-index: 1;
}

#logo {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

#navlinks {
    align-items: center;
    height: 19px;
}

#navlinks a {
    font-weight: 500;
    color: #232323;
    text-align: center;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    text-decoration: none;
    font-size: 18px;
}
  
#navlinks a:hover { 
    color: #a78328;
    font-weight: 600;
  }
  
  #navlinks  a.active {
    color: #a78328;
    top: 100%;
    font-weight: 600;
  }

  #flags {
    margin-right: 1.2rem;
  }

  #flags img {
    padding: 0.5rem;
    filter: drop-shadow(2px 2px 2px #838383);
  }

/* RESTAURANT */

  #restaurant {
    text-align: center;
  }

h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 820px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-color: #a78328;
  text-underline-offset: .7rem;
}

.buttonsgroup {
 align-content: center;
}

button {
    font-size: 1rem;
    font-weight: 500;
    background-color: #a78328;
    color: #f2f2f2;
    height: 3rem;
    width: 13rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
    border-radius: 1rem;
    justify-content: center;
    text-decoration: none;
}

button:hover {
  filter: drop-shadow(4px 4px 4px #7d7d7d);
}

a:link, a:visited {
  color: white;
  text-decoration: none; 
}

/* FOOTER */

#footer {
  background-color: #a78328;
  overflow: auto;
  padding: 2.5rem;
}

.footersections {
  width: 33.33%;
  float: left;
}

.bold  {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  padding: 1rem;
  padding-left: 0;
}

.regular {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  padding-bottom: 1rem;
}